
body {
  font-family: 'Vazirmatn', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background-color: #d0c7e8;
  padding: 20px;
  text-align: center;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #444;
}
footer {
  background-color: #eee;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
}
